* {
    background-color: #f8f4ea;
    
}

#title,
#arabic-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #804042;
}

#arabic-title {
    font-size: 45px;
}

.links{
    text-align: center;
}
.links a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: #42230e;
}